@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 59, 54);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: gainsboro;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.seat {
    background-color: darkgray;
    height: 12px;
    width: 14px;
    margin: 3px;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
}